.main-info-container {
  height: 70vh;
  overflow-y: auto;
}

.main-info-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.main-info-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main-info-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #8d8d8d;
}
